.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

/* LEFT SIDE */
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 50%;
}

.hero-left h2 {
    color: #909090;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Title with hand icon */
.hero-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-title p {
    font-size: 90px;
    font-weight: 700;
    color: #171717;
}

.hero-title img {
    width: 80px;
}

/* Big text below */
.hero-collections {
    font-size: 90px;
    font-weight: 700;
    color: #171717;
    margin-top: -20px;
}

.hero-for-everyone {
    font-size: 90px;
    font-weight: 700;
    color: #171717;
    margin-top: -20px;
}

/* Button */
.hero-latest-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 30px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-latest-button:hover {
    background: #e63a3a;
}

/* RIGHT SIDE IMAGE */
.hero-right img {
    max-width: 500px;
    width: 100%;
    object-fit: contain;
}
.hero-right {
flex: 1;
display: flex;
align-items: center;
justify-content: center;

}